.movies-search__search-info {
  color: #da2121;
  font-weight: bold;
}

.movies-search__movie-db-logo {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;

  img {
    width: 80px;
    height: 80px;
  }
}